html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main */

:root {
    --white: #fff;
    --black: #000;
    --light-pink: #faece9;
    --pink: #f5467b;
    --dark-pink: #bd1e53;
    --bold: 700;
}

html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../img/background.png');
    background-color: var(--light-pink);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: all .2s;
}

.wrap-fluid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* btn */

.btn {
    display: inline-block;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 14px 40px;
    font-weight: var(--bold);
    border-radius: 25px;
}

/* header */

#header {
    display: flex;
    padding-top: 30px;
}

#header .wrap {
    display: flex;
    flex: 1;
}

#header .nav {
    display: flex;
    min-height: 80px;
}

#header .nav .navlogo {
    display: flex;
    margin-right: 25px;
    align-items: center;
}

#header .nav .navlogo img {
    max-width: 100%;
    height: auto;
    width: 180px;
}

#header .nav .navbar {
    display: flex;
    flex: 1;
    align-items: center;
}

#header .nav .navbar li a {
    position: relative;
    margin: 0 25px;
    align-items: center;
    display: flex;
}

#header .nav .navbar li a:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;
    width: 0;
    height: 0;
    opacity: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--dark-pink);
    transition: all .2s;
}

#header .nav .navbar li a:hover:before {
    left: -15px;
    opacity: 1;
}

#header .nav .profilebar {
    display: flex;
    align-items: center;
}

#header .nav .profilebar .btn.login {
    background-color: var(--pink);
}

#header .nav .profilebar .btn.login:hover {
    background-color: var(--dark-pink);
}

/* footer */

#footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#footer ul {
    display: flex;
    align-items: center;
    font-size: 12px;
}

#footer ul hr {
    border: none;
    margin: 0 5px;
    width: 1px;
    height: 12px;
    background-color: var(--white);
}

/* media queries */

@media only screen and (max-width: 1420px) {
    .wrap-fluid {
        padding: 0 10px;
    }
}