html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main */

:root {
    --white: #fff;
    --black: #000;
    --light-pink: #faece9;
    --pink: #f5467b;
    --dark-pink: #bd1e53;
    --green: #8bff96;
    --bold: 700;
}

html, body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../img/background.png');
    background-color: var(--pink);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: all .2s;
}

/* wraps */

.wrap-fluid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.wrap-solid {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
}

/* btn */

.btn {
    display: inline-block;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 14px 40px;
    font-weight: var(--bold);
    border-radius: 25px;
    cursor: pointer;
    transition: all .2s;
}

.btn.btn-login {
    background-color: var(--pink);
}

.btn.btn-login:hover {
    background-color: var(--dark-pink);
}

.btn.btn-purple {
    background-color: var(--dark-pink) !important;
}

.btn.btn-purple:hover {
    background-color: var(--green) !important;
}

.btn.btn-instant-login {
    padding: 22px;
    border-radius: 50px;
    background-color: var(--pink);
    background-image: url('../img/login-circle-fill.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .2s;
}

.btn.btn-instant-login:hover {
    background-image: url('../img/login-circle-fill-green.svg');
}

/* header */

#header {
    display: flex;
    padding-top: 30px;
}

#header .wrap {
    display: flex;
    flex: 1;
}

#header .nav {
    display: flex;
    min-height: 80px;
}

#header .nav .navlogo {
    display: flex;
    margin-right: 25px;
    align-items: center;
}

#header .nav .navlogo img {
    max-width: 100%;
    height: auto;
    width: 180px;
}

#header .nav .navbar {
    display: flex;
    flex: 1;
    align-items: center;
}

#header .nav .navbar li a {
    position: relative;
    margin: 0 25px;
    align-items: center;
    display: flex;
}

#header .nav .navbar li a:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;
    width: 0;
    height: 0;
    opacity: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--dark-pink);
    transition: all .2s;
}

#header .nav .navbar li a:hover:before {
    left: -15px;
    opacity: 1;
}

#header .nav .profilebar {
    display: flex;
    align-items: center;
}

/* home */

#home {
    display: flex;
    flex: 1;
}

#home .wrap-fluid {
    display: flex;
}

#home .wrap-fluid .home-featured {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#home .wrap-fluid .home-featured h1 {
    margin-top: 14vh;
    font-size: 50px;
    font-weight: var(--bold);
}

#home .wrap-fluid .home-featured p {
    margin-top: 25px;
    line-height: 2;
}

#home .wrap-fluid .home-featured form {
    display: flex;
    width: 400px;
    background-color: var(--white);
    border-radius: 50px;
    padding: 5px 5px 5px 10px;
    margin-top: 20px;
    height: 45px;
}

#home .wrap-fluid .home-featured form input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

#home .wrap-fluid .home-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .wrap-fluid .home-image img {
    max-width: 80%;
    height: auto;
}

/* contact */

#contact {
    display: flex;
    flex: 1;
}

#contact .wrap-fluid {
    display: flex;
    flex: 1;
}

#contact .wrap-fluid .contact-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .wrap-fluid .contact-form form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#contact .wrap-fluid .contact-form form .inputs-container {
    flex: 1;
    display: flex;
}

#contact .wrap-fluid .contact-form form .inputs-container input:first-child {
    margin-right: 10px;
}

#contact .wrap-fluid .contact-form form input, #contact .wrap-fluid .contact-form form textarea {
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    flex: 1;
}

#contact .wrap-fluid .contact-form form textarea {
    min-height: 100px;
    resize: none;
}

#contact .wrap-fluid .contact-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .wrap-fluid .contact-image img {
    max-width: 80%;
    height: auto;
}

/* footer */

#footer {
    height: 25px;
}

#footer ul {
    display: flex;
    align-items: center;
    font-size: 12px;
}

#footer ul hr {
    border: none;
    margin: 0 5px;
    width: 1px;
    height: 12px;
    background-color: var(--white);
}

/* media queries */

@media only screen and (max-width: 1470px) {
    .wrap-fluid {
        width: 95%;
    }
}

@media only screen and (max-width: 750px) {
    body {
        background-image: none;
    }
    #home .wrap-fluid {
        flex-direction: column;
    }
    #home .wrap-fluid .home-featured {
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }
    #home .wrap-fluid .home-featured form {
        width: 90%;
    }
    #home .wrap-fluid .home-image {
        margin-bottom: 50px;
    }
    #contact .wrap-fluid {
        flex-direction: column-reverse;
    }
    #contact .wrap-fluid .contact-form form {
        margin: 20px 0;
        width: 90%;
    }
    #contact .wrap-fluid .contact-form form .inputs-container {
        flex-direction: column;
    }
    #contact .wrap-fluid .contact-form form .inputs-container input:first-child {
        margin-right: 0;
    }
}