html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* main */

:root {
    --white: #fff;
    --white-secondary: #ecfdf0;
    --black: #000;
    --light-pink: #faece9;
    --pink: #f5467b;
    --dark-pink: #bd1e53;
    --green: #8bff96;
    --bold: 700;
}

html, body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../img/background.png');
    background-color: var(--pink);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--white);
    transition: all .2s;
}

img {
    pointer-events: none;
}

/* wraps */

.wrap-fluid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.wrap {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.wrap-solid {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

/* btn */

.btn {
    display: inline-block;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 14px 40px;
    font-weight: var(--bold);
    border-radius: 25px;
    cursor: pointer;
    transition: all .2s;
}

.btn.btn-login {
    background-color: var(--dark-pink);
}

.btn.btn-login:hover {
    background-color: var(--pink);
}

.btn.btn-purple {
    background-color: var(--dark-pink) !important;
}

.btn.btn-purple:hover {
    background-color: var(--green) !important;
    color: var(--black);
}

.btn.btn-success {
    background-color: var(--green) !important;
    cursor: not-allowed;
}

.btn.btn-instant-login {
    padding: 22px;
    border-radius: 50px;
    background-color: var(--pink);
    background-image: url('../img/login-circle-fill.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .2s;
}

.btn.btn-instant-login:hover {
    background-image: url('../img/login-circle-fill-green.svg');
}

/* header */

#header {
    display: flex;
    padding-top: 30px;
}

#header .wrap {
    display: flex;
    flex: 1;
}

#header .nav {
    display: flex;
    min-height: 80px;
}

#header .nav .navlogo {
    display: flex;
    margin-right: 25px;
    align-items: center;
}

#header .nav .navlogo img {
    max-width: 100%;
    height: auto;
    width: 180px;
}

#header .nav .navlogo img.navlogo-normal {
    display: initial;
}

#header .nav .navlogo img.navlogo-small {
    display: none;
}

#header .nav .navbar {
    display: flex;
    flex: 1;
    align-items: center;
}

#header .nav .navbar li a {
    position: relative;
    margin: 0 25px;
    align-items: center;
    display: flex;
}

#header .nav .navbar li a:before {
    content: "";
    position: absolute;
    top: 3px;
    left: -30px;
    width: 0;
    height: 0;
    opacity: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--dark-pink);
    transition: all .2s;
}

#header .nav .navbar li a:hover:before {
    left: -15px;
    opacity: 1;
}

#header .nav .profilebar {
    display: flex;
    align-items: center;
}

/* home */

#home {
    display: flex;
    flex: 1;
}

#home .wrap-fluid {
    display: flex;
}

#home .wrap-fluid .home-featured {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#home .wrap-fluid .home-featured h1 {
    margin-top: 14vh;
    font-size: 50px;
    font-weight: var(--bold);
}

#home .wrap-fluid .home-featured p {
    margin-top: 25px;
    line-height: 2;
}

#home .wrap-fluid .home-featured form {
    display: flex;
    width: 400px;
    background-color: var(--white);
    border-radius: 50px;
    padding: 5px 5px 5px 10px;
    margin-top: 20px;
    height: 45px;
}

#home .wrap-fluid .home-featured form input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

#home .wrap-fluid .home-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .wrap-fluid .home-image img {
    max-width: 80%;
    height: auto;
    animation-name: zoomInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* contact */

#contact {
    display: flex;
    flex: 1;
}

#contact .wrap-fluid {
    display: flex;
}

#contact .wrap-fluid .contact-form {
    flex: 1;
    display: flex;
    align-items: center;
}

#contact .wrap-fluid .contact-form form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#contact .wrap-fluid .contact-form form .inputs-container {
    flex: 1;
    display: flex;
}

#contact .wrap-fluid .contact-form form .inputs-container input:first-child {
    margin-right: 10px;
}

#contact .wrap-fluid .contact-form form input, #contact .wrap-fluid .contact-form form textarea {
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    flex: 1;
    font-size: 15px;
}

#contact .wrap-fluid .contact-form form textarea {
    min-height: 100px;
    resize: none;
}

#contact .wrap-fluid .contact-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .wrap-fluid .contact-image img {
    max-width: 80%;
    height: auto;
    animation-name: zoomInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* register */

#register {
    display: flex;
    flex: 1;
}

#register .wrap-fluid {
    display: flex;
}

#register .wrap-fluid .register-form {
    flex: 1;
    display: flex;
    align-items: center;
}

#register .wrap-fluid .register-form form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#register .wrap-fluid .register-form form .inputs-container {
    flex: 1;
    display: flex;
}

#register .wrap-fluid .register-form form .inputs-container input:first-child, #register .wrap-fluid .register-form form .inputs-container select:first-child {
    margin-right: 10px;
}

#register .wrap-fluid .register-form form input, #register .wrap-fluid .register-form form .btn {
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    flex: 1;
    font-size: 15px;
    line-height: normal;
}

#register .wrap-fluid .register-form .inputs-container select {
    margin-top: 10px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    border-radius: 12px;
    padding: 10px 15px;
    flex: 1;
}

#register .wrap-fluid .register-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#register .wrap-fluid .register-image img {
    max-width: 80%;
    height: auto;
    animation-name: zoomInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#register .wrap-fluid .register-form form p {
    color: #ffffff;
    font-style: italic;
    margin: 10px auto 5px;
    font-size: 12px;
}

/* login */

#login {
    display: flex;
    flex: 1;
}

#login .wrap-fluid {
    display: flex;
}

#login .wrap-fluid .login-form {
    flex: 1;
    display: flex;
    align-items: center;
}

#login .wrap-fluid .login-form form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#login .wrap-fluid .login-form form .inputs-container {
    flex: 1;
    display: flex;
}

#login .wrap-fluid .login-form form .inputs-container input:first-child {
    margin-right: 10px;
}

#login .wrap-fluid .login-form form input, #login .wrap-fluid .login-form form .btn {
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    flex: 1;
    font-size: 15px;
    line-height: normal;
}

#login-form .wrap-fluid .login-form form .inputs-container {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}

#login .wrap-fluid .login-form form .forgot-password {
    color: #ffffff;
    text-decoration: underline;
    font-style: italic;
    margin: 10px auto 5px;
    font-size: 12px;
}

#login .wrap-fluid .login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login .wrap-fluid .login-image img {
    max-width: 80%;
    height: auto;
    animation-name: zoomInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* legal */

#legal {
    flex: 1;
}

#legal .wrap-solid {}

#legal .wrap-solid .legal-content {
    margin-top: 30px;
    padding: 50px 30px;
    background-color: rgb(236, 253, 240);
    color: var(--black);
    border-radius: 50px;
    line-height: 1.2;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
}

#legal .wrap-solid .legal-content h1 {
    font-weight: var(--bold);
    font-size: 38px;
    text-align: center;
}

#legal .wrap-solid .legal-content h3 {
    font-weight: var(--bold);
    margin-top: 30px;
}

#legal .wrap-solid .legal-content strong {
    font-weight: var(--bold);
}

#legal .wrap-solid .legal-content p {
    margin-top: 10px;
}

#legal .wrap-solid .legal-content a {
    color: var(--black);
    font-style: italic;
}

/* dashboard */

#dashboard {
    display: flex;
    flex: 1;
}

#dashboard .wrap-fluid {
    display: flex;
}

#dashboard .wrap-fluid .container {
    flex: 3;
    display: flex;
    flex-direction: column;
}

#dashboard .wrap-fluid .container .profile-card {
    display: flex;
    height: 250px;
    background-color: var(--white-secondary);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border-radius: 30px;
}

#dashboard .wrap-fluid .container .profile-card input {
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

#dashboard .wrap-fluid .container .profile-card input[type="email"], #dashboard .wrap-fluid .container .profile-card input[type="text"], #dashboard .wrap-fluid .container .profile-card input[type="date"], #dashboard .wrap-fluid .container .profile-card input[type="password"] {
    padding: 0;
}

#dashboard .wrap-fluid .container .profile-card input[type="submit"] {
    align-self: flex-end;
    margin-left: auto;
}

#dashboard .wrap-fluid .container .profile-card .profile {
    background-color: var(--dark-pink);
    border-radius: 25px;
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#dashboard .wrap-fluid .container .profile-card .profile-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

#dashboard .wrap-fluid .container .profile-card .profile .profile-container .profile-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard .wrap-fluid .container .profile-card .profile .profile-container .profile-avatar img {
    border-radius: 25px;
    max-height: 100%;
}

#dashboard .wrap-fluid .container .profile-card .profile .profile-container .profile-details {
    display: flex;
    flex: 1;
    padding: 0 15px;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
}

#dashboard .wrap-fluid .container .profile-card .profile .profile-container .profile-details h3 {
    font-weight: var(--bold);
    font-size: 18px;
}

#dashboard .wrap-fluid .container .profile-card .profile .profile-container .profile-details p {
    margin-top: 5px;
    font-size: 15px;
}

#dashboard .wrap-fluid .container .profile-card .profile .profile-container .profile-details input {
    width: 100%;
    font-weight: var(--bold);
    font-size: 18px;
    color: var(--white);
}

#dashboard .wrap-fluid .container .profile-card .profile-container .profile-item h3 {
    font-size: 15px;
}

#dashboard .wrap-fluid .container .profile-card .profile-container .profile-item p, #dashboard .wrap-fluid .container .profile-card .profile-container .profile-item input {
    margin-top: 5px;
    font-weight: var(--bold);
    font-size: 14px;
}

#dashboard .wrap-fluid .container .profile-card .profile-tags {
    padding: 25px;
    display: flex;
    flex: 2;
    flex-direction: column;
    color: var(--black);
}

#dashboard .wrap-fluid .container .reminders-card {
    margin-top: 20px;
    display: flex;
    flex: 1;
    background-color: var(--white-secondary);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    border-radius: 30px;
    padding: 25px;
    color: var(--black);
    flex-direction: column;
}

#dashboard .wrap-fluid .container .reminders-card table {
    width: 100%
}

#dashboard .wrap-fluid .container .reminders-card table tr th {
    font-weight: var(--bold);
    font-size: 14px;
    text-align: center;
}

#dashboard .wrap-fluid .container .reminders-card table tr td {
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
    border-bottom: solid 1px rgba(0, 0, 0, .05);
}

#dashboard .wrap-fluid .container .reminders-card input {
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    align-self: flex-end;
    margin-top: auto;
}

#dashboard .wrap-fluid .sidebar {
    margin-left: 25px;
    flex: 1;
    color: var(--black);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 20px 20px;
}

#dashboard .wrap-fluid .sidebar ul li {
    margin-top: 15px;
    display: flex;
}

#dashboard .wrap-fluid .sidebar .prescription {
    margin-top: 15px;
    padding: 20px 20px;
    border-radius: 25px;
    background-color: var(--pink);
    background-image: url(../img/background-calender.svg);
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    display: flex;
    flex-direction: column;
}

#dashboard .wrap-fluid .sidebar .prescription h3 {
    font-weight: var(--bold);
    color: var(--white);
}

#dashboard .wrap-fluid .sidebar .prescription .btn {
    align-self: flex-start;
    margin-top: auto;
    border-radius: 50px;
    padding: 22px;
    background-image: url('../img/sticky-note-fill.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#dashboard .wrap-fluid .sidebar .prescription .btn:hover {
    background-color: var(--black) !important;
    filter: invert(1);
}

/* forgot_password */

#forgot_password {
    display: flex;
    flex: 1;
}

#forgot_password .wrap-fluid {
    display: flex;
}

#forgot_password .wrap-fluid .forgot-form {
    flex: 1;
    display: flex;
    align-items: center;
}

#forgot_password .wrap-fluid .forgot-form form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#forgot_password .wrap-fluid .forgot-form form .inputs-container {
    flex: 1;
    display: flex;
}

#forgot_password .wrap-fluid .forgot-form form .inputs-container input:first-child {
    margin-right: 10px;
}

#forgot_password .wrap-fluid .forgot-form form input, #forgot_password .wrap-fluid .login-form form .btn {
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    flex: 1;
    font-size: 15px;
    line-height: normal;
}

#forgot-form .wrap-fluid .forgot-form form .inputs-container {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}


#forgot_password .wrap-fluid .forgot-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#forgot_password .wrap-fluid .forgot-image img {
    max-width: 80%;
    height: auto;
    animation-name: zoomInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* footer */

#footer {
    height: 25px;
    padding: 10px 0;
}

#footer ul {
    display: flex;
    align-items: center;
    font-size: 12px;
}

#footer ul hr {
    border: none;
    margin: 0 5px;
    width: 1px;
    height: 12px;
    background-color: var(--white);
}

/* media queries */

@media only screen and (max-width: 1470px) {
    .wrap-fluid {
        width: 95%;
    }
}

@media only screen and (max-width: 840px) {
    .wrap {
        width: 95%;
    }
}

@media only screen and (max-width: 750px) {
    body {
        background-image: none;
    }
    .btn {
        padding: 7px 20px;
    }
    #home .wrap-fluid, #contact .wrap-fluid, #register .wrap-fluid, #login .wrap-fluid {
        flex-direction: column-reverse;
    }
    #header .nav .navlogo {
        margin-right: 0;
        width: 50px;
    }
    #header .nav .navlogo img.navlogo-normal {
        display: none;
    }
    #header .nav .navlogo img.navlogo-small {
        display: initial;
    }
    #home .wrap-fluid .home-featured {
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }
    #home .wrap-fluid .home-featured form {
        width: 90%;
    }
    #home .wrap-fluid .home-image {
        margin-bottom: 50px;
    }
    #contact .wrap-fluid .contact-form, #register .wrap-fluid .register-form, #login .wrap-fluid .login-form {
        justify-content: center;
    }
    #contact .wrap-fluid .contact-form form, #register .wrap-fluid .register-form form, #login .wrap-fluid .login-form form {
        margin: 20px 0;
        width: 90%;
    }
    #contact .wrap-fluid .contact-form form .inputs-container, #register .wrap-fluid .register-form form .inputs-container, #login .wrap-fluid .login-form form {
        flex-direction: column;
    }
    #contact .wrap-fluid .contact-form form .inputs-container input:first-child, #register .wrap-fluid .register-form form .inputs-container input:first-child, #register .wrap-fluid .register-form form .inputs-container select:first-child {
        margin-right: 0;
    }
    #legal .wrap-solid .legal-content {
        background-color: transparent;
        box-shadow: none;
        color: var(--white);
        text-align: initial;
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}